html {
    scrollbar-width: none;
}

/* Sección de fondo */
.seccion-fondo {
    background: url('fff.png') no-repeat center center/cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

/* Contenedor de tarjetas */
.tarjeta {
    width: 230px;
    height: 270px;
    margin: 35px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /*box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.3);*/
}

/* Contenido oculto */
.contenido {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    padding-top: 20%;
}

.contenido > p {
    text-align: justify; text-justify: inter-word;
    padding: 10%;
}

/* Efecto al pasar el mouse */
.tarjeta:hover {
    transform: scale(1.02);
}

.tarjeta:hover .contenido {
    opacity: 1;
}


.clientes-columna:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#fondo-clientes {
    background-color: rgba(0, 0, 0, 0.05);
}

 /* Evitar selección de texto para que el swipe funcione bien */
 .no-select {
    user-select: none;
}

/* Evitar que las imágenes sean arrastrables */
img {
    pointer-events: none;
}

/* Personalizar indicadores (bolitas) */
.carousel-indicators button {
    width: 12px !important; /* Hace que sean círculos perfectos */
    height: 12px !important;
    border-radius: 50% !important; /* Asegura que sean redondas */
    background-color: #bbb !important; /* Color de las bolitas */
    margin: 5px !important;
    border: none !important;
    transition: background-color 0.3s ease-in-out;
}

/* Cambia el color de la bolita activa */
.carousel-indicators .active {
    background-color: #555 !important;
}